In [9]:
list=[]

for i in range (5):
    list.append(i*2)
list

[0, 2, 4, 6, 8]

الطريقة السابقة استخدم اللوب عشان اضيف واقوم بعمليات على ال ليست 
الكود التالي رح استخدم ال كومبرهينشن يلي بتسهل عليه و تقوم بنفس الشغل

In [8]:
list1=[i*2 for i in range(5)]
list1

[0, 2, 4, 6, 8]

In [12]:
list2=[i*1 for i in range(9) if i%4==0]
list2

[0, 4, 8]

In [19]:
dec= {val+1: val*2 for val  in range(5)}
dec

{1: 0, 2: 2, 3: 4, 4: 6, 5: 8}

the last code about decs so its the same as list but theres a diffrent at the beging

In [24]:
dec1={"uk":"london","palestine":"al quds","spain":"bcn"}

In [26]:
dec2={dec1[key]:key for key in dec1}
dec2

{'al quds': 'palestine', 'bcn': 'spain', 'london': 'uk'}

In [31]:
sum(i**2 for i in range(5))

30

In [32]:
sum(i for i in range(5))

10

sum is a python function avalible alredy